<footer class="footer">
  <div class="footer__inner">
    {{ if $.Site.Copyright }}
      <div class="copyright copyright--user">
        <span>{{ $.Site.Copyright | safeHTML }}</span>
    {{ else }}
      <div class="copyright">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- <i class="fa fa-github"></i> -->
        <span>© {{ now.Year }} 🧑‍💻 SRE, DevOps, ☁️ Cloud and 🛫 Life
        | Powered by  <a href="mailto:me@hungran.cloud">HUNGRAN</a> 
          <a href="https://github.com/hungran"><i class="fa fa-github" style="font-size:24px"></i></a>
          <a href="https://www.linkedin.com/in/hungran91/"><i class="fa fa-linkedin-square" style="font-size:24px"></i></a>
        </span>
    {{ end }}
      </div>
  </div>
</footer>

<script src="{{ "assets/main.js" | absURL }}"></script>
<script src="{{ "assets/prism.js" | absURL }}"></script>

{{ if $.Site.Params.showLanguageSelector }}
  <script src="{{ "assets/languageSelector.js" | absURL }}"></script>
{{ end }}

<!-- Extended footer section-->
{{ partial "extended_footer.html" . }}
